<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="{{ .Site.LanguageCode }}" xmlns="http://www.w3.org/1999/xhtml">
    {{- partial "head.html" . -}}
    <body>

        {{ if eq hugo.Environment "development" }}
            <p>TEMPLATE: layouts/_default/baseof.html</p>
        {{ end }}

        {{- partial "header.html" . -}}

        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}
    </body>
</html>
