{{ define "main" }}

{{ if eq hugo.Environment "development" }}
  <p>TEMPLATE: layouts/_default/list.html</p>
{{ end }}

<h1>{{ .Title }}</h1>

{{ range .Pages.ByPublishDate.Reverse }}

    <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>

    
    {{ if gt (len .Summary) 0 }}

      <p>
        {{ .Summary | safeHTML }}

        <a href="{{ .RelPermalink }}">{{ .Title }} full article</a>
      </p>
  {{ end }}


{{ end }}

{{ end }}
