{{ if eq hugo.Environment "development" }}
  <p>TEMPLATE: layouts/partials/footer.html</p>
{{ end }}

<!--
  will we keep the menu in the footer going forward?
  don't forget to hide this stuff in printing CSS
-->

<p><a name="nav-menu" id="nav-menu"><strong>Site menu</strong></a></p>

<ul>
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL }}">
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
      </a>
    </li>
    {{ end }}
</ul>

{{ if eq hugo.Environment "development" }}
  <p><strong>Dev Env-only menu</strong></p>

  <ul>
    {{ range .Site.Menus.devel }}
    <li>
      <a href="{{ .URL }}">
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
      </a>
    </li>
    {{ end }}
  </ul>
{{ end }}


<p><a href="#">Back to top</a></p>
