{{ if eq hugo.Environment "development" }}
  <p>TEMPLATE: layouts/partials/metadata.html</p>
{{ end }}

{{if .Params.author}}
  <p>by {{.Params.author}}{{else}}{{ .Site.Params.author }}</p>
{{end}}

{{ if not .Date.IsZero }}
  {{ $dateTime := .PublishDate.Format "2006-01-02" }}
  {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}

  <p>{{ .PublishDate.Format $dateFormat }}</p>
{{end}}
