<!--
    this is the way it was done in the
    accessible minimalism theme
-->
<!--
{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>
-->
<!--
    we will do it differently in puffyn
    prefix the browser tab title with current environment, abbreviated ⚠
-->
{{ if eq hugo.Environment "development" }}
    {{ .Scratch.Set "envpre" "DEV ✸ " }}
{{ else if eq hugo.Environment "staging" }}
    {{ .Scratch.Set "envpre" "STA ❊ " }}
{{ else }}
    {{ .Scratch.Set "envpre" "" }}
{{ end }}

{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title> {{ .Scratch.Get "envpre" }} {{ $title }}</title>
